.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  text-align: start;
}

.App-link {
  color: #61dafb;
}
.navbar {
  background-color: #201e50;
  padding: 10px 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  color: white;
}
.logo {
  height: 40px;
}
.navbar_txt {
  color: white;
  font-size: 20px;
  margin-right: 20px;
}
.header {
  display: flex;

  flex-direction: column;
}
.header-bottom {
  display: flex;
  justify-content: space-between;
}
.header-container {
  background-color: white;
  height: 32vh;
  border-bottom: 2px solid gray;
}
.method-box {
  height: 20px;
  padding: 6px 15px;
  margin-left: 25px;
  text-align: center;
  border-radius: 3px;
  background: #49cc90;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  color: #fff;
  margin-right: 20px;
}
#submit-btn {
  width: 350px;
  background-color: #1da1f2;
}
#create_new_session {
  max-width: 1200px;
}
.patch-method-box {
  height: 20px;
  padding: 6px 15px;
  margin-left: 25px;
  text-align: center;
  border-radius: 3px;
  background: #6549cc;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  color: #fff;
  margin-right: 20px;
}
.auth-span {
  padding: 4px 20px 0 0;
}
.parameters-container {
  display: flex;
  flex-direction: row;
  width: 75%;
  flex-wrap: wrap;
}
label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h5 {
  margin-bottom: 10px;
}
input {
  margin-left: 15px;
}
.auth-btn {
  font-size: 15px;
  padding: 5px;
  border: 2px solid #49cc90;
  border-radius: 5px;
  color: #49cc90;
  background: white;
  width: 150px;
  height: 35px;
  font-weight: 600;
}
.outer-method {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
.outer-method:hover {
  cursor: pointer;
  background: lightgray;
}
.method-block {
  display: flex;
  width: 100vw;
  justify-content: flex-start;
  border: 1px solid green;
  flex-direction: column;
}
.method-row {
  display: flex;
  background-color: lightblue;
}
.end-point {
  margin-right: 15px;
  font-weight: 700;
}
.method-block:hover {
  cursor: pointer;
}
.form-container {
  display: flex;
}
.form-inner {
  width: 50%;
}
button:hover {
  cursor: pointer;
}
#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}
#authForm-btn {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
#grant-type {
  display: flex;
  justify-content: center;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}
#api-Key {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 25px;
}
#client-id {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#x-btn {
  background-color: #cb2027;
  border-radius: 20px;
}
#auth-btn {
  background-color: #00bf8f;
  border-radius: 20px;
}
